body
  margin-top: 50px

.map-widget
  position: relative

#map
  width: 100%
  height: 70vh
  bottom: 0
  z-index: 0

.geocoder-control
  height: 3em !important
  width: 25em !important

.geocoder-control-input
  height: 3em !important
  padding: 0.5em
  font-size: 12px
  cursor: text

.leaflet-bar
  border: 1px solid #ced4da !important
