extends layout

block content
  .container-fluid.text-center
    h1 IRL TD
    p.lead.text-muted
      | A tower defense game using real-life maps.

  .container-fluid.map-widget
    #map
      .card#overlay
        .card-body.d-flex.flex-column.justify-content-around
