doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    -var title = titleHelper(title)
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href="https://unpkg.com/leaflet/dist/leaflet.css")
    link(rel='stylesheet', href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css")
    link(rel='stylesheet', href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css")

    script(src="https://unpkg.com/leaflet/dist/leaflet-src.js")
    script(src="https://unpkg.com/esri-leaflet")
    script(src="https://unpkg.com/esri-leaflet-geocoder")
    script(src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js")
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    != css('css/site')
  body(id="#{view}_view")
    .container-fluid.no-gutters
      block content
    block js
      != js('js/site')
